[logger]

# The Logger level
# Valid values: trace, debug, info, warn, error
level = "trace"

# Whether the Logger should print to standard output.
# Valid values: true, false
stdout_output = true

# A file path in the file system; if provided, the Logger will append any output to it.
# file_output_path = "/output/file.log"

[logger.tracing_elastic_apm]
# Whether the Logger data should be sent to the Elastic APM Server.
# Valid values: true, false
apm_output = false
## The url of the Elastic APM server.
apm_server_url = "http://localhost:8200"
#apm_server_api_credentials.id = "api_id"
#apm_server_api_credentials.key = "api_key"

[nats_json_collector]

# The in-memory buffer size for Events.
# It makes the application resilient to Tornado Engine crashes or temporary unavailability.
# When Tornado restarts, all messages in the buffer will be sent.
# When the buffer is full, the Collector will start discarding older messages first.
message_queue_size = 10000

# The addresses of the NATS server
nats_client.addresses = ["127.0.0.1:4222"]
# The type of authentication used when connecting to the NATS server
# (Optional. Valid values: None, Tls. Defaults to "None" if not provided).
nats_client.auth.type = "None"
#nats_client.auth.type = "Tls"
# The path to the client certificate (in .pem format) used to authenicate to the NATS server
#nats_client.auth.certificate_path = "/path/to/certificate.pem"
# The path to the client certificate private key (in .pem format) used to authenicate to the NATS server
#nats_client.auth.private_key_path = "/path/to/key.pem"
# The path to a root certificate (in .pem format) to trust in addition to system's trust root.
# May be useful if the NATS server is not trusted by the system as default.
# (Optional, valid if "nats.client.auth.type" is set to "Tls").
#nats_client.auth.path_to_root_certificate = "/path/to/root/certificate.crt.pem"

# The channel to send events to Tornado.
# It contains the set of entries required to configure a Nats or a TCP connection.
[nats_json_collector.tornado_connection_channel]

# In case of Nats Connection uncomment these entries; otherwise, comment them.
# -----------------------------------
# The NATS Subject where tornado will subscribe and listen for incoming events
#nats_subject = "tornado.events"


# In case of TCP Connection uncomment these entries; otherwise, comment them.
# -----------------------------------
# The Tornado IP address where outgoing events will be written
# This should be the address where the Tornado Engine listens for incoming events.
tcp_socket_ip = "127.0.0.1"
# The Tornado port where outgoing events will be written
# This should be the port where the Tornado Engine listens for incoming events.
tcp_socket_port = 4747