[Unit]
Description=Tornado Icinga2 Collector - Data Collector for Icinga2 Event Streams

[Service]
Type=simple

#User=tornado
RuntimeDirectory=tornado_icinga2_collector
ExecStart=/usr/lib64/tornado/bin/tornado_icinga2_collector
Restart=on-failure
RestartSec=3
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=neteye.target
